<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineStore_UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

</head>


<body>
    @*
        <nav class="site-header sticky-top py-1" style="background-color:chartreuse">

            <div class="container d-flex flex-column flex-md-row justify-content-between">

                <nav class="navbar navbar-expand navbar-light navbar-bg">
                    <img src="~/Images/Logo.png" height="60px" />

                    <ul class="navbar-nav" style="margin-left:1000px">
                        <li class="nav-item px-2 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mega menu
                            </a>
                            <div class="dropdown-menu dropdown-menu-left dropdown-mega" aria-labelledby="servicesDropdown">
                                <div class="d-md-flex align-items-start justify-content-start">
                                    <div class="dropdown-mega-list">
                                        <div class="dropdown-header">UI Elements</div>
                                        <a class="dropdown-item" href="#">Alerts</a>
                                        <a class="dropdown-item" href="#">Buttons</a>
                                        <a class="dropdown-item" href="#">Cards</a>
                                        <a class="dropdown-item" href="#">Carousel</a>
                                        <a class="dropdown-item" href="#">General</a>
                                        <a class="dropdown-item" href="#">Grid</a>
                                        <a class="dropdown-item" href="#">Modals</a>
                                        <a class="dropdown-item" href="#">Tabs</a>
                                        <a class="dropdown-item" href="#">Typography</a>
                                    </div>
                                    <div class="dropdown-mega-list">
                                        <div class="dropdown-header">Forms</div>
                                        <a class="dropdown-item" href="#">Layouts</a>
                                        <a class="dropdown-item" href="#">Basic Inputs</a>
                                        <a class="dropdown-item" href="#">Input Groups</a>
                                        <a class="dropdown-item" href="#">Advanced Inputs</a>
                                        <a class="dropdown-item" href="#">Editors</a>
                                        <a class="dropdown-item" href="#">Validation</a>
                                        <a class="dropdown-item" href="#">Wizard</a>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav navbar-align">
                            <li class="nav-item dropdown">
                                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings align-middle"><circle cx="12" cy="12" r="3"></circle></svg>
                                </a>

                                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown" aria-expanded="false">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <img src="https://www.meme-arsenal.com/memes/0b37d82bcfd11cb3196fa5329f3bff0f.jpg" width="40px" class="avatar img-fluid rounded-circle mr-1" alt="Chris Wood"> <span class="text-dark">@User.Identity.Name</span>
                                    }
                                    else
                                    {
                                        <img src="https://www.meme-arsenal.com/memes/0b37d82bcfd11cb3196fa5329f3bff0f.jpg" width="40px" class="avatar img-fluid rounded-circle mr-1" alt="Chris Wood"> <span class="text-dark">...</span>
                                    }

                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="pages-profile.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user align-middle mr-1"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Profile</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Help</a>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a class="dropdown-item" href="#">Sign out</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" href="#">Login</a>
                                        <a class="dropdown-item" href="#">Register</a>
                                    }


                                </div>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </nav>
    *@
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Techno</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Main</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sign out</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                    }
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>




    <div class="row" style="margin-top:100px">
        <div class="col-2" id="divCategory">
        </div>
        <div class="col-8">
            <div id="divProduct">
                @RenderBody()
            </div>
        </div>
    </div>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>










    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function categories(button) {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("/Product/GetProducts")',
                dataType: "json",
                data: {
                    "category": $(button).val()
                },
                success: function (data) {
                    $('#divProduct').html(data);
                }
            });
        }
    </script>

    <script>
        $(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Product/GetProducts")',
                success: function (data) {
                    $('#divProduct').html(data);
                }
            });
             $.ajax({
                  type: 'GET',
                  url: '@Url.Content("~/Product/GetCategory")',
                  success: function (data) {
                     $('#divCategory').html(data);
                     }
                 });
             })
        @* $('#LoadButton').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Product/GetProducts")',
                dataType: "json",
                data: {
                    "category": $('#Options').val(),
                },
                success: function (data) {
                    $('#div').html(data);
                }
            });
        }) *@
    </script>
</body>

</html>


